@font-face {
    font-family: 'cardinal';
    src: url('../fonts/cardinal-webfont.eot');
    src: url('../fonts/cardinal-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cardinal-webfont.woff') format('woff'),
    url('../fonts/cardinal-webfont.ttf') format('truetype'),
    url('../fonts/cardinal-webfont.svg#cardinalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jost';
    src: url("../fonts/Jost-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: 'arimo';
    src: url("../fonts/Arimo-VariableFont_wght.ttf") format('truetype');
}

html {
    font-family: jost, arial, helvetica, sans serif;
    font-size: 16px;
}

body {
    background-color: #fffcf3;
}

h4 {
    font-weight: 800;
    color: #ed4001;
    text-align: left;
}

h3 {
    margin-bottom: 1rem;
    color: #003399;
    text-align: left;
}

h1 {
    color: rgb(00, 33, 99);
    text-align: left;
}


.sidebar
{
    background-color: #176a99;
    width: 15rem;
    z-index: 10;
}

.sidebar a
{
    font-size: 0.8em;
    color: white;
}

.sidebar .lang-switch img {
    vertical-align: middle;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.sidebar .lang-switch:hover img {
    opacity: 0.8;
}

.sidebar .container
{
    padding-left: 0rem;
}

.sidebar-about p
{
    font-family: cardinal, serif;
}

.sidebar-nav li .active
{
    color: #00CCFF;
}

.sidebar-nav li a:hover
{
    font-weight: bold;
    color: #00CCFF;
    text-decoration: none;
}

.sidebar-nav ul
{
    margin-bottom: 0;
    padding-left: 0;
}

.sidebar-nav .indent
{
    list-style-type: none;
    margin-left: 1rem;
}

.sidebar nav li
{
    font-size: 19px;
}

.sidebar a
{
    color: white;
}

.sidebar .social-icons
{
    margin-top: 0;
}

@media( max-width: 60em ) {

    .sidebar.sidebar_small {
        width: 2em;
    }
    .sidebar_small .sidebar-nav
    {
        display: none;
    }

    .sidebar_small .social-icons
    {
        display: none;
    }

    .sidebar_small .content .container
    {
        margin-left: 0;
    }

    .content.container.sidebar_small
    {
        margin-left: 0;
    }

    /* Mobile layout fixes */
    .content {
        margin-left: 2.5rem;
        margin-right: 0.5rem;
    }

    .content .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header {
        height: auto;
        min-height: 8rem;
        margin-left: -2.5rem;
        margin-right: -0.5rem;
    }

    .header img {
        max-width: 60%;
        padding-left: 3rem;
        padding-top: 0.5rem;
    }

    .label {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        margin-top: 0.5rem;
    }

    .label h2 {
        font-size: 1.1em;
    }

    /* Hide tagline on small screens */
    .header img:nth-of-type(2) {
        display: none;
    }

    /* Calendar table responsive */
    .calendar table {
        font-size: 0.85rem;
    }

    .calendar-legend {
        flex-direction: column;
        gap: 0.5rem;
    }
}

.header {
    position: sticky;
    font-size: 1rem;
    top: 0;
    background-color: white;
    border: 0;
    border-bottom: #b4250c solid 6px;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    height: 14rem;
    text-align: center;
    background-image:linear-gradient(to top, rgba(245, 246, 252, 0.52), 65%, rgba(180, 37, 12, 0.21)), url("../images/default.jpeg");
    background-size: cover;
}

.header img {
    z-index: 10;
    float: left;
}

.header li
{
    list-style-type: none;
    font-size: 2em;
    right: 2em;
    position: fixed;
    margin-right: 2em;
}

.header li a
{
    color: #b4250c;
}

.header li a:hover
{
    text-decoration: none;
    color: #41b3e2;
}

.label {
    width: 20em;
    top: 9.5em;
    right: 0.5rem;
    background-color: #41b3e3;
    position: fixed;
    z-index: 10;

    --f: 12px; /* control the folded part*/
    --r: 0px; /* control the ribbon shape */
    --t: 0em; /* the top offset */

    padding: 0 10px var(--f) calc(10px + var(--r));
    clip-path:
            polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
            calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
            var(--r) calc(50% - var(--f)/2));
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
}


.label h2 {
    color: white;
    font-family: Copperplate, serif;
    font-weight: lighter;
    font-size: 1.5em;
    text-align: center;
    margin: 0.1em 0.5em;
}

.toggle {
    position: absolute;
    border: none;
    border-radius: 50%;
    left: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
}

.content {
    padding-top: 0;
    margin-left: 30%;
    margin-right: 0;
    max-width: 100%;
    text-align: justify;
    background-color: #f6e8d7;
    box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
}

.content p:first-child::first-letter, h3:first-child::first-letter
{
    font-family: cardinal, serif;
    font-size: 5em;
    color: #ed4001;
    float: left;
    margin-block: -2.5rem;
    margin-right: 0.3rem;
    margin-bottom: 0.2rem;

}

.content .capital-m h3:first-child::first-letter
{
    background: url("../images/m.png") no-repeat;
    font-size: 5em;
    color: transparent;
    float: left;
    margin-block: -2.5rem;
    margin-right: -0.1rem;
}

.content .capital-m p:first-child::first-letter
{
    background: url("../images/m.png") no-repeat;
    font-size: 5em;
    color: transparent;
    float: left;
    margin-block: -2.5rem;
}

.content a {
    color: #b4250c;
}

.container
{
    padding-left: 3rem;
}
.content .container
{
    padding-left: 5rem;
    padding-right: 0;
}

nav {
    margin-left: 0;
}

.readmore a
{
    float: right;
}


@media (min-width: 60em) {

    html {
        font-family: jost, arial, helvetica, sans serif;
        font-size: 20px;
    }

    .header
    {
        margin-left: -15rem;
        margin-right: -5em;
    }

    .header img
    {
        padding-top: 1rem;
        padding-left: 11em;
        padding-right: 3em;
        min-width: 500px;
    }
    .sidebar {
        top: 9rem;
        left: 5rem;
        height: auto;
        background-image: url("../images/menu_bg.png");
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center center;
        background-size: cover;
        text-align: left;
        overflow: hidden;
        
    }

    .sidebar .container {
        /* existing styles */
        overflow-y: scroll;
        max-height: calc(95vh - 14rem);
      }



    .content .container
    {
        padding: 0 1rem;
    }

    .content {
        padding-left: 15em;
        padding-right: 5em;
        padding-top: 0;
        margin-left: 7em;
        margin-right: 7em;
        max-width: 100%;
        text-align: justify;
        background-color: #f6e8d7;
        box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
    }

    .post
    {
        margin-top: 5rem;
    }

    .posts ul {
      list-style-type: ' - ';
    }

    .posts ul li {
        padding-bottom: 2%;
    }

    .toggle {
        display: none;
    }

    .label
    {
        right: 6.5em;
    }

   

    h3 {
        color: #003399
    }

}

/* Table styles */
.calendar table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }
  
  .calendar table th,
  .calendar table td {
    padding: 0.5rem;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  .calendar table th {
    background-color: #05658e;
    color: #ffffff;
    font-weight: normal;
  }

.table-row-events {
    background-color: #a1d1e5 !important;
}

.table-row-events:nth-child(odd) {
    background-color: #86bdc9 !important;
}

/* For workshops */
.table-row-workshops {
    background-color: #e5a1a1 !important;
}

.table-row-workshops:nth-child(odd) {
    background-color: #d98282 !important;
}

/* Calendar legend */
.calendar .calendar-legend {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.calendar .calendar-legend .legend-item {
    padding: 0.4rem 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
    display: inline-block;
}

.calendar .calendar-legend .legend-events {
    background-color: #a1d1e5 !important;
    border: 2px solid #86bdc9;
}

.calendar .calendar-legend .legend-workshops {
    background-color: #e5a1a1 !important;
    border: 2px solid #d98282;
}

/* No events message */
.no-events {
    font-style: italic;
    color: #666;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 4px;
}

  

