{{ define "main" }}
<ul class="posts">
  <br/>
  {{ if in (substr (.Content | plainify) 0 1) "M" }}
    <div class="capital-m">
      {{ .Content }}
    </div>
  {{ else }}
    <div>
      {{ .Content }}
    </div>
  {{ end }}
  {{ range where .Pages "Type" "!=" "events"  }}
      <li>
        <div class="flex">
          <a href="{{ .RelPermalink }}" class="truncate">{{ .Title }}</a>
        </div>
        {{ .Summary }}
          {{ if .Truncated }}
          <!-- This <div> includes a read more link, but only if the summary is truncated... -->
          <div class="readmore">
            <a href="{{ .RelPermalink }}">{{ if eq .Lang "nl" }}Lees meer...{{ else }}Read more...{{ end }}</a>
          </div>
          {{ end }}
      </li>
  {{ end }}
</ul>
{{ end }}
