{{/* MusicEvent-markup voor één evenement. Context is de evenementpagina zelf.

     Wordt vanuit twee kanten aangeroepen: evenementen met een eigen pagina
     zetten hem daar neer, en evenementen zonder eigen pagina (_build.render:
     never) laten hem opnemen door de pagina waar hun linkTo naar wijst. In dat
     tweede geval is .Permalink leeg, dus alle URL's vallen terug op linkTo. */}}
{{- $tz := "Europe/Amsterdam" }}
{{- $pageURL := .Permalink }}
{{- with .Params.linkTo }}{{ $pageURL = . | absURL }}{{ end }}
{{/* Tijden in de front matter zijn Nederlandse tijd; time.AsTime maakt er een
     ISO-8601 stempel met de juiste offset van (+02:00 in de zomertijd, +01:00
     erbuiten), zodat deelnemers in een andere tijdzone de juiste begintijd
     te zien krijgen. */}}
{{- $day := .Date.Format "2006-01-02" }}
{{- $endDay := $day }}
{{- with .Params.endDate }}{{ $endDay = (time.AsTime . $tz).Format "2006-01-02" }}{{ end }}
{{- $offerURL := $pageURL }}
{{- with .Params.online_url }}{{ $offerURL = . }}{{ end }}
{{- with .Params.offer_url }}{{ $offerURL = . }}{{ end }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MusicEvent",
  "name": "{{ .Title }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}",
  {{- if .Params.time }}
  "startDate": "{{ (time.AsTime (printf "%sT%s:00" $day .Params.time) $tz).Format "2006-01-02T15:04:05-07:00" }}",
  {{- else }}
  "startDate": "{{ $day }}",
  {{- end }}
  {{- if .Params.endTime }}
  "endDate": "{{ (time.AsTime (printf "%sT%s:00" $endDay .Params.endTime) $tz).Format "2006-01-02T15:04:05-07:00" }}",
  {{- else if .Params.endDate }}
  "endDate": "{{ $endDay }}",
  {{- end }}
  "url": "{{ $pageURL }}",
  {{- if .Params.online }}
  "location": {
    "@type": "VirtualLocation",
    "url": "{{ with .Params.online_url }}{{ . }}{{ else }}{{ $pageURL }}{{ end }}"
  },
  "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
  {{- else if .Params.location }}
  "location": {
    "@type": "Place",
    "name": "{{ .Params.location }}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ with .Params.address }}{{ . }}{{ end }}"
    }
  },
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  {{- else }}
  "location": {
    "@type": "Place",
    "name": "Locatie wordt nog bekendgemaakt",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "'s-Hertogenbosch",
      "addressCountry": "NL"
    }
  },
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  {{- end }}
  "organizer": {
    "@type": "Person",
    "name": "Marsja Mudde",
    "url": "{{ .Site.BaseURL }}"
  },
  "performer": {
    "@type": "MusicGroup",
    "name": "{{ with .Params.ensemble }}{{ . }}{{ else }}Marsja Mudde{{ end }}"
  },
  "eventStatus": "https://schema.org/EventScheduled",
  {{- with .Params.price }}
  "offers": {
    "@type": "Offer",
    "price": "{{ . }}",
    "priceCurrency": "{{ $.Params.priceCurrency | default "EUR" }}",
    "availability": "https://schema.org/InStock",
    "url": "{{ $offerURL }}"
  },
  {{- end }}
  "image": "{{ `images/default.jpeg` | absURL }}"
}
</script>
