<div class="label">
  {{- $title := .Title -}}
  {{- if eq .Kind "404" -}}
    {{- if eq .Lang "nl" -}}
      {{- $title = "Pagina niet gevonden" -}}
    {{- else -}}
      {{- $title = "Page not found" -}}
    {{- end -}}
  {{- end -}}
  <h2>{{ $title | upper }}</h2>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      var labels = document.getElementsByClassName("label");
  
      for (var i = 0; i < labels.length; i++) {
          var h2Element = labels[i].querySelector("h2");
          var textLength = h2Element.textContent.trim().length;
  
          if (textLength > 15) {
              h2Element.style.fontSize = "1.2em";
          } else if (textLength > 50) {
              h2Element.style.fontSize = "1em";
          } // Add more conditions if needed
      }
  });
  </script>
  
