<aside class="sidebar">
    <a href="javascript:void(0);" class="toggle">
        <i class="fa fa-bars"></i>
    </a>
    <section style="font-size: 1.5rem" class="social-icons">
      {{ if .IsTranslated }}
          {{ range .Translations }}
                  {{ if eq .Site.Language.Lang "en" }}
                      <a class="lang-switch" title="English" href="{{ .RelPermalink }}"><img src="/images/flag-gb.svg" alt="English" width="24" height="18"></a>
                  {{ else }}
                      <a class="lang-switch" title="Nederlands" href="{{ .RelPermalink }}"><img src="/images/flag-nl.svg" alt="Nederlands" width="24" height="18"></a>
                  {{ end }}
          {{ end }}
      {{ end }}
      {{ range $item := .Site.Params.socialIcons }}
      <a href="{{ $item.url }}" rel="me" title="{{ $item.title }}" target="_blank">
        <i class="fab {{ $item.icon }}" aria-hidden="true"></i>
      </a>
      {{ end }}
    </section>
  <div class="container">
    <div class="sidebar-about"></div>
    <nav>
      <ul class="sidebar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class="menu-item">
              <a class="{{ if eq ($currentPage.RelPermalink | relLangURL) (.URL | relLangURL) }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
            </li>
                {{ if in ($currentPage.RelPermalink | relLangURL) (.URL | relLangURL)  }}
              <ul>
                {{ range .Children }}
                  <li class="menu-item indent">
                    <a class="{{ if eq ($currentPage.RelPermalink | relLangURL) (.URL | relLangURL) }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                {{ end }}
              </ul>
                  {{ end }}
          {{else}}
            <li class="menu-item">
              <a class="{{ if eq ($currentPage.RelPermalink | relLangURL) (.URL | relLangURL) }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{- end }}
      </ul>
    </nav>

    
      
  </div>
</aside>
