{{ define "main" -}}

  <div class="posts">
    {{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.MainSections -}}
    {{- $paginator := .Paginate $pages -}}

    {{ range $paginator.Pages }}
      <article class="post">
        <h1 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title | humanize}}</a>
        </h1>
          {{ if eq (substr .RawContent 5 1) "M" }}
            <div class="capital-m">
                {{ .Content }}
            </div>
          {{ else }}
              <div>
                  {{ .Content }}
              </div>
          {{ end }}

      </article>
    {{- end }}
  </div>

  {{ template "_internal/pagination.html" . }}
{{- end }}
