{{ define "main" -}}

  <div class="posts home-posts">
    {{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.MainSections -}}
    {{- $paginator := .Paginate $pages -}}

    {{ range $index, $page := $paginator.Pages }}
      <article class="post">
        {{ with $page.Title }}
        <h1 class="post-title">
          <a href="{{ $page.Permalink }}">{{ . | humanize}}</a>
        </h1>
        {{ end }}
          {{ if eq (substr $page.RawContent 5 1) "M" }}
            <div class="capital-m">
                {{ $page.Content }}
            </div>
          {{ else }}
              <div>
                  {{ $page.Content }}
              </div>
          {{ end }}

      </article>
      {{- if eq $index 0 }}
      {{ partial "testimonials-home.html" $ }}
      {{- end }}
    {{- end }}
  </div>

  {{ template "_internal/pagination.html" . }}
{{- end }}
