{{ define "main" -}}
{{/* JSON-LD Structured Data for Event */}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MusicEvent",
  "name": "{{ .Title }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}",
  {{- if .Params.time }}
  "startDate": "{{ .Date.Format "2006-01-02" }}T{{ .Params.time }}:00",
  {{- else }}
  "startDate": "{{ .Date.Format "2006-01-02" }}",
  {{- end }}
  "url": "{{ .Permalink }}",
  {{- if .Params.online }}
  "location": {
    "@type": "VirtualLocation",
    "url": "{{ with .Params.online_url }}{{ . }}{{ else }}{{ .Permalink }}{{ end }}"
  },
  "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
  {{- else if .Params.location }}
  "location": {
    "@type": "Place",
    "name": "{{ .Params.location }}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ with .Params.address }}{{ . }}{{ end }}"
    }
  },
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  {{- else }}
  "location": {
    "@type": "Place",
    "name": "Locatie wordt nog bekendgemaakt",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "'s-Hertogenbosch",
      "addressCountry": "NL"
    }
  },
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  {{- end }}
  "organizer": {
    "@type": "Person",
    "name": "Marsja Mudde",
    "url": "{{ .Site.BaseURL }}"
  },
  "performer": {
    "@type": "MusicGroup",
    "name": "{{ with .Params.ensemble }}{{ . }}{{ else }}Marsja Mudde{{ end }}"
  },
  "eventStatus": "https://schema.org/EventScheduled",
  "image": "{{ `images/default.jpeg` | absURL }}"
}
</script>

<div class="post">
  {{ with .Params.tagline }}<span class="tagline">{{ . }}</span>{{ end }}
  {{ if in (substr (.Content | plainify) 0 1) "M" }}
    <div class="capital-m">
      {{ .Content }}
    </div>
  {{ else }}
    <div>
      {{ .Content }}
    </div>
  {{ end }}
</div>
{{- end }}
